.CodeMirror {
    min-height: 10em;
    max-height: calc(100vh - 4em);
    height: auto;
    border: solid rgb(204, 204, 204) 1px;
}

.CodeMirror .cm-toolbar {
    border: solid rgb(204, 204, 204) 1px;
    background-color: rgb(204, 204, 204);
}
